app:
  image: castorinop/nextcloud
#  volumes:
#     - ./data:/data
#     - ./config:/app/nextcloud/config
  links:
   - db

db:
  image: castorinop/mariadb
  environment:
   - MYSQL_DATABASE=nextcloud
   - MYSQL_USER=root
   - MYSQL_PASSWORD=secret

#  volumes:
#    - ./db:/var/lib/mysql

fpm:
  image: castorinop/php-fpm
  links:
   - db
  volumes_from:
   - app

nginx:
 image: nginx:stable-alpine
 ports:
  - "80:80"
 links:
  - fpm
 volumes_from:
   - app
